.photo-grid__list {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
}

@media screen and (max-width: 1279px) {
  .photo-grid__list {
    gap: 14px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid__list {
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__list {
    gap: 12px;
    grid-template-columns: 1fr;
  }
}