.cover__subtitle {
  max-width: 360px;
  font-size: 18px;
  line-height: 1.2; /*<--22px--*/
  padding: 0 16px;
}

@media screen and (max-width: 540px) {
  .cover__subtitle {
    font-size: 14px;
    max-width: 288px;
  }
}