.content__article {
  background-color: rgb(117, 209, 221);
  max-width: 690px;
  min-height: 52px;
  margin-left: 100px;
  transition: margin .2s linear;
}

@media screen and (max-width: 1023px) {
  .content__article {
    margin: 0;
  }
}