.cover {
  position: relative;
  max-width: 1184px;
  display: grid;
}

.cover:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: 30%;
  z-index: 1;
  transition: opacity .1s linear;
}

.cover:hover:before {
  cursor: pointer;
  opacity: 80%;
}