.header__lang-list {
  display: flex;
  font-size: 1.5em;
  line-height: 1.2;
  align-items: flex-end;
  /* border: .5px dashed red; */
}

@media screen and (max-width: 767px) {
  .header__lang-list {
    font-size: 1.1em;
    line-height: 1.1;
  }
}