.lead__caption {
  text-transform: uppercase;
  font-size: 10px;
  line-height: 1.4; /*<--14px--*/
  letter-spacing: 1.5px;
  padding-top: 8px;
  align-self: flex-start;
  transition: margin .2s linear;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    margin-left: 16px;
  }
}