.cover__title {
  font-size: 72px;
  line-height: 1.06; /*<--76px--*/
  font-weight: 900;
  margin-bottom: 32px;
  max-width: 560px;
}

@media screen and (max-width: 540px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.1; /*<--35px--*/
    margin-bottom: 16px;
    max-width: 420px;
  }
}