.cover__title {
  font-size: 72px;
  line-height: 1.1;
  font-weight: 900;
  margin-bottom: 32px;
  max-width: 560px;
  transition: font-size .2s linear;
}

@media screen and (max-width: 540px) {
  .cover__title {
    font-size: 32px;
    margin-bottom: 16px;
    max-width: 420px;
  }
}