.cover__title {
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 560px;
  font-size: 72px;
  line-height: 1.06; /*<--76px--*/
  font-weight: 900;
}

@media screen and (max-width: 540px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.1; /*<--35px--*/
    line-height: 35px;
  }
}