.footer__list {
  display: flex;
  font-size: 16px;
  line-height: 1.1; /*<--18px--*/
  min-height: 18px;
}

@media screen and (max-width: 493px) {
  .footer__list {
    flex-direction: column;
    font-size: 24px;
    line-height: 1.0;
  }
}