.footer {
  display: flex;
  justify-content: space-between;
  transition: padding .2s linear;
  height: fit-content;
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
  }
}