.intro__article {
  max-width: 690px;
  min-height: 52px;
  transition: margin, width .2s linear;
  padding: 92px 0;
}

@media screen and (max-width: 1023px) {
  .intro__article {
    padding: 88px 0;
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro__article {
    padding: 64px 0;
  }
}